body {
  margin: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  padding-top: 50px;
  background-color: #fffdfb;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-family: 'Major Mono Display', monospace;
  color: #01676b;
  font-size: 50px;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Khand', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: #21aa93;
}

h3 {
  font-family: 'Khand', sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  color: #21aa93;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 400px;
}

.top-cloud {
  position: relative;
  left: 350px;
  top: 10px;
}

.profile {
  margin: 50px 300px 30px 300px;
}

.etc {
  margin: 50px 300px 30px 300px;
}

hr {
  border-style: dotted none none;
  height: 1px;
  width: 10%;
  border-width: 8px;
  border-color: #df4d19;
}

.title {
  color: #01676b;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: left;
}

.coffee {
  width: 50%;
  margin: auto;
  text-align: left;
}

.reading {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  text-align: left;
}

.profilepic {
  width: 12%;
}

.coding-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coffee-pic {
  width: 25%;
  float: right;
  margin-left: 30px;

}

.book-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  background-color: #a8e6cf;
  margin: auto auto 0 auto;
  padding: 30px;
}

.bottom-container a {
  font-family: 'Quicksand';
  font-weight: lighter;
  font-size: 20px;
  color: #21aa93;
  padding-right: 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.bottom-container a:hover{
  color: white;
}

.bottom-container p {
  color: #01676b;
}

.myButton {
  -moz-box-shadow: inset -5px -5px 0 0 #f7c5c0;
  -webkit-box-shadow: inset -5px -5px 0 0 #f7c5c0;
  box-shadow: inset -5px -5px 0 0 #f7c5c0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background: -moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d', GradientType=0);
  background-color: #fc8d83;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 2px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Khand', sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  padding: 11px 37px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #b23e35;
  margin-bottom: 30px;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
  background: -moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83', GradientType=0);
  background-color: #e4685d;
}

.myButton:active {
  position: relative;
  top: 1px;
}
